// variables for project

$bgc: #f7f8f3; // main background-color

$active: #9db892;//color active link

$text: #1c1c1b; // dark text color

$text-green: #6e774a;

$bgc-second: #ced6af; // second background-color

$bg-price: #f1f1f1;